
<div class="mt-5">
    <dx-data-grid (onCellPrepared)="onCellPrepared($event)"
    id="gridContainer"
    [dataSource]="attendance"
    keyExpr="ID"
    [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
    [showBorders]="true"
    >
    <dx-button
                    [text]="expanded ? 'Collapse All' : 'Expand All'"
                    [width]="136"
                    (onClick)="expanded = !expanded">
                </dx-button>
                
  
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row
      [visible]="showFilterRow"
    ></dxo-filter-row>
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <dxo-search-panel 
      [visible]="true"
      [width]="275"
      placeholder="Search..."
    ></dxo-search-panel>
    <dxi-column
      dataField="date"
      dataType="date"
      [calculateFilterExpression]="calculateFilterExpression"
    ><dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column>
  
  <dxi-column
      dataField="From"
     
    ></dxi-column>
    <dxi-column
      dataField="To"
      
    >
   
  </dxi-column>
  
    <dxi-column dataField="Type"  caption="Type" >
      <dxo-lookup
      [dataSource]=" AttendTypeLookUp"> <!-- provides display values -->
  </dxo-lookup>

       </dxi-column>
      <dxi-column dataField="Status" caption="Status" >
        <dxo-lookup
        [dataSource]="StatusLookUp"> <!-- provides display values -->
    </dxo-lookup>
        <!-- <dxo-header-filter [dataSource]="[{ value: 'rejected', text: 'rejected' }, { value: 'pending', text: 'pending' }, { value: 'approved', text: 'approved' }]"> </dxo-header-filter> -->
        
      </dxi-column>
    
    
    
  
    <dxi-column dataField="LastUpdate"  [width]="275" caption="LastUpdate">
      <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>

    
  <dxo-editing
  
    mode="row"
    [allowDeleting]="true"

    [useIcons]="true"
  ></dxo-editing>
  <dxi-column type="buttons" [width]="110" caption="Action">
    <dxi-button name="delete"></dxi-button>
    
  </dxi-column>
  
    </dx-data-grid>


    
    <!-- <dx-data-grid [dataSource]="dataSource" (onCellPrepared)="onCellPrepared($event)">
      <dxi-column dataField="status" caption="Status">
        <dxo-header-filter [dataSource]="[{ value: 'rejected', text: 'rejected' }, { value: 'pending', text: 'pending' }, { value: 'approved', text: 'approved' }]"></dxo-header-filter>
      </dxi-column>
    </dx-data-grid> -->
    
  </div>
  