<div class="mt-5">
  <dx-button [text]="expanded ? 'Collapse All' : 'Expand All'" (onClick)="expanded = !expanded">
  </dx-button>
  <dx-data-grid (onCellPrepared)="onCellPrepared($event)" id="gridContainer" [dataSource]="attendance" keyExpr="ID"
    [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [width]="275" placeholder="Search..."></dxo-search-panel>
    <dxi-column dataField="date" dataType="date"
      [calculateFilterExpression]="calculateFilterExpression"><dxo-header-filter
        [dataSource]="orderHeaderFilter"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="From"></dxi-column>
    <dxi-column dataField="To">
    </dxi-column>
    <dxi-column dataField="Type" caption="Type">
      <dxo-lookup [dataSource]=" AttendTypeLookUp"> <!-- provides display values -->
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Status" caption="Status">
      <dxo-lookup [dataSource]="StatusLookUp"> <!-- provides display values -->
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="LastUpdate" [width]="275" caption="LastUpdate">
      <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
    <dxi-column type="buttons" [width]="110" caption="Action">
      <dxi-button name="delete"></dxi-button>
    </dxi-column>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-summary>
      <dxi-group-item summaryType="count">
      </dxi-group-item>
    </dxo-summary>
  </dx-data-grid>
</div>