
 
 <div class="card border-0 shadow mb-4">
    <div class="card-body">
       <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0 rounded">
             <thead class="thead-light">
                <tr>
                   <th class="border-0">Date</th>
                   <th class="border-0">Form</th>
                   <th class="border-0">To</th>
                   <th class="border-0">Type</th>
                   <th class="border-0">Status</th>
                   <th class="border-0 rounded-end">Last update</th>
                   <th class="border-0 rounded-end"></th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td class="fw-bold d-flex align-items-center">
                     <div class="mb-3">
                        <div class="input-group">
                           <span class="input-group-text" id="basic-addon1">
                              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                              </svg>
                           </span>
                           <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search">
                        </div>
                     </div>
                      
                   </td>
                   <td >
                     <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                           <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                           </svg>
                        </span>
                        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search">
                     </div>
                   </td>
                   <td>
                     <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                           <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                           </svg>
                        </span>
                        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search">
                     </div>
                   </td>
                   <td>
                     <div class="mb-4">
                        <select class="form-select" id="country" aria-label="Default select example">
                           <option selected="selected">All</option>
                           <option value="1">Office</option>
                           <option value="2">Home</option>
                        </select>
                     </div>
                   </td>
                   <td>
                     <div class="mb-4">
                        <select class="form-select" id="country" aria-label="Default select example">
                           <option selected="selected">All</option>
                           <option value="1">Pending</option>
                           <option value="2">reject
                           </option>
                           <option value="3">accepted
                           </option>
                        </select>
                     </div>
                   </td>
                   <div class="input-group">
                     <span class="input-group-text" id="basic-addon1">
                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                        </svg>
                     </span>
                     <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search">
                  </div>
                  <td>
                     <span class="supprimer" onclick="document.getElementById('nom').value=''">&times;</span>
                     
                  </td>
                </tr>
                <tr>
                   <td class="fw-bold d-flex align-items-center">
                      
                   </td>
                   <td></td>
                   <td>-</td>
                   <td>--</td>
                   <td>
                     
                   </td>
                   <td>
                     <span class="supprimer" onclick="document.getElementById('nom').value=''">&times;</span>
                     
                  </td>
                </tr>
                <tr>
                   <td class="fw-bold d-flex align-items-center">
                      
                   </td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>
                      
                   </td>
                   <td>
                     <span class="supprimer" onclick="document.getElementById('nom').value=''">&times;</span>
                     
                  </td>
                </tr>
                <tr>
                   <td class="fw-bold d-flex align-items-center">
                      
                     
                   </td>
                   <td></td>
                   <td><a class="small fw-bold" href="#"></a></td>
                   <td>#11</td>
                   <td>
                      
                   </td>
                   <td>
                     <span class="supprimer" onclick="document.getElementById('nom').value=''">&times;</span>
                     
                  </td>
                </tr>
                <tr>
                   
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>
                      
                   </td>
                   <td>
                     <span class="supprimer" onclick="document.getElementById('nom').value=''">&times;</span>
                     
                  </td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
 </div>




  

<!--filtage-->
<!-- <div class="row">
   <div class="col-12 mb-4">
      <div class="card border-0 shadow components-section">
         <div class="card-body">
            <div class="row mb-4">
               <div class="d-flex justify-content-between w-100 flex-wrap">
                  <div class="mb-3 mb-lg-0">
                     <h1 class="h4">Basic Filter(s)</h1>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="mb-4">
                     <select class="form-select" id="country" aria-label="Default select example">
                        <option selected="selected">All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="mb-4">
                     <select class="form-select" id="country" aria-label="Default select example">
                        <option selected="selected">Sabrine Kouki</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="mb-4">
                     <select class="form-select" id="country" aria-label="Default select example">
                        <option selected="selected">select a team/departement</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
 