
<div class="mt-5">
      <dx-button
                    [text]="expanded ? 'Collapse All' : 'Expand All'"
                    [width]="136"
                    (onClick)="expanded = !expanded">
                </dx-button>
    <dx-data-grid (onCellPrepared)="onCellPrepared($event)"
    id="gridContainer"
    [dataSource]="orders"
    keyExpr="ID"
    [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
    [showBorders]="true"
    >

                
  
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row
      [visible]="showFilterRow"
    ></dxo-filter-row>
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <dxo-search-panel 
      [visible]="true"
      [width]="265"
      placeholder="Search..."
    ></dxo-search-panel>
    <dxi-column
      dataField="date"
      dataType="date"
     
      [calculateFilterExpression]="calculateFilterExpression"
    ><dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column>
  
  <dxi-column
      dataField="From"
      
     
    ></dxi-column>
    <dxi-column
      dataField="To"
      
      
    >
   
  </dxi-column>
  
    <dxi-column dataField="Type"  caption="Type">
      <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
      <dxo-lookup
            [dataSource]="lookupData"> <!-- provides display values -->
        </dxo-lookup>
    </dxi-column>
  
  
    <dxi-column  dataField="Status"  caption="Status">
      <dxo-header-filter [dataSource]="[{ value: 'rejected', text: 'rejected' }]"> </dxo-header-filter>
  
    </dxi-column>
    
  
    <dxi-column dataField="LastUpdate" [width]="265" caption="LastUpdate">
      <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    </dx-data-grid>
    
    
    
  </div>
 
  